

### Services ###
/Services/.vs/*
/Services/.vscode/*

/Services/DialogBilling/bin/*
/Services/DialogBilling/obj/*
/Services/DialogBilling/DialogBilling.db

/Services/FastFoodOnline/bin/*
/Services/FastFoodOnline/obj/*
/Services/FastFoodOnline/FastFoodOnline.db

/Services/SampathBank/bin/*
/Services/SampathBank/obj/*
/Services/SampathBank/SampathBank.db

### ClientApp ###
/Client/.vs/*
/Client/.vscode
/Client/node_modules